body {
  background-color: #f5f5f5;
}

body.no-scroll {
  overflow: hidden;
}

.app .result-box {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 930px;
  width: 97%;
  color: black;
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  -webkit-transition: 0.2s opacity ease-in;
  transition: 0.2s opacity ease-in;
}

.app .result-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 101vw;
  height: 101vh;
  background: #000;
  z-index: -1;
  opacity: 0.3;
}

.app .result-box .content {
  /* position: relative;
      width: 100%;
      height: 100%;
      padding: $padding;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.3);
      will-change: transform;
      transition: 0.2s transform ease-in;
      transform: scale(0);

      h2 {
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        padding: 0.6em 1.2em;
        margin: $padding 0 0 0;
        border-radius: 14px;
      } */
}

.app .result-box .content .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .result-box .content .boxes .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin: 10px 0;
  padding: 7.5px;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.app .result-box .content .boxes .box .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
}

.app .result-box .content .boxes .box .wrapper:first-child {
  color: #fff;
}

.app .result-box .content .boxes .box .wrapper h3 {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.app .result-box .content .boxes .box span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0 0 0 1px #e6e6e6;
          box-shadow: 0 0 0 1px #e6e6e6;
  line-height: 35px;
  background: #fff;
}

.app .result-box .content .boxes .box:nth-of-type(1) .wrapper:first-child {
  background: linear-gradient(130deg, #673ab7 0%, #9c27b0 100%);
}

.app .result-box .content .boxes .box:nth-of-type(2) .wrapper:first-child {
  background: linear-gradient(130deg, #ff4e79 0%, #ff9b7d 100%);
}

.app .result-box .content .boxes .box:nth-of-type(3) .wrapper:first-child {
  background: linear-gradient(130deg, #3abe47 0%, #bfe553 100%);
}

.app .result-box .content .boxes .box:nth-of-type(4) .wrapper:first-child {
  background: linear-gradient(130deg, #005bea 0%, #00c6fb 100%);
}

@media screen and (min-width: 420px) {
  .app section .answers button {
    width: 4em;
    height: 4em;
  }
}

@media screen and (min-width: 600px) {
  .app h1 {
    font-size: 32px;
  }
  .app section h3 {
    font-size: 20px;
  }
  .app section .group-select {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .app section .group-select .age-group {
    margin-right: 50px;
  }
  .app section .group-select .gender input {
    margin: 0.3em 1.1em 0 0;
  }
  .app section .legend span:first-of-type {
    display: inline;
  }
  .app .result-box .content .boxes .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50vw - 44px);
            flex: 0 1 calc(50vw - 44px);
    margin: 10px;
    max-width: 300px;
    margin: 10px;
    padding: 7.5px;
  }
}

@media screen and (min-width: 800px) {
  .app h1 {
    font-size: 34px;
  }
  .app section .legend {
    font-size: 14px;
  }
}

@media screen and (min-width: 1000px) {
  .app h1 {
    font-size: 40px;
  }
  .app .result-box .content .boxes .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50vw - 80px);
            flex: 0 1 calc(50vw - 80px);
    margin: 10px;
    max-width: 400px;
    margin: 20px;
    padding: 15px;
  }
  .app .result-box .content .boxes .box .wrapper {
    height: 50px;
  }
  .app .result-box .content .boxes .box .wrapper h3 {
    font-size: 22px;
    font-weight: 300;
  }
  .app .result-box .content .boxes .box .wrapper span {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */