body {
  background-color: #fafafa;
}

body.no-scroll {
  overflow: hidden;
}

.app section .answers .answer-box ul li:nth-of-type(2) label {
  background: red;
}

.app section .answers .answer-box ul li:nth-of-type(2) input:focus + label {
  outline-color: red;
}

.app section .answers .answer-box ul li:nth-of-type(3) label {
  background: #ff6a00;
}

.app section .answers .answer-box ul li:nth-of-type(3) input:focus + label {
  outline-color: #ff6a00;
}

.app section .answers .answer-box ul li:nth-of-type(4) label {
  background: #ffd500;
}

.app section .answers .answer-box ul li:nth-of-type(4) input:focus + label {
  outline-color: #ffd500;
}

.app section .answers .answer-box ul li:nth-of-type(5) label {
  background: #bfff00;
}

.app section .answers .answer-box ul li:nth-of-type(5) input:focus + label {
  outline-color: #bfff00;
}

.app section .answers .answer-box ul li:nth-of-type(6) label {
  background: #55ff00;
}

.app section .answers .answer-box ul li:nth-of-type(6) input:focus + label {
  outline-color: #55ff00;
}

.app section .answers .answer-box ul li:nth-of-type(7) label {
  background: #00ff15;
}

.app section .answers .answer-box ul li:nth-of-type(7) input:focus + label {
  outline-color: #00ff15;
}

.app section .answers .answer-box ul li:nth-of-type(8) label {
  background: #00ff80;
}

.app section .answers .answer-box ul li:nth-of-type(8) input:focus + label {
  outline-color: #00ff80;
}

.app .result-box {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 930px;
  width: 97%;
  color: black;
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  -webkit-transition: 0.2s opacity ease-in;
  transition: 0.2s opacity ease-in;
}

.app .result-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 101vw;
  height: 101vh;
  background: #000;
  z-index: -1;
  opacity: 0.3;
}

.app .result-box .content .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.app .result-box .content .boxes .column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .result-box .content .boxes .column .box {
  width: 100%;
  margin: 10px 0;
  padding: 7.5px;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.app .result-box .content .boxes .column .box .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  font-size: 15px;
}

.app .result-box .content .boxes .column .box .wrapper:first-child {
  color: #fff;
  text-transform: uppercase;
}

.app .result-box .content .boxes .column .box .wrapper h3 {
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.app .result-box .content .boxes .column .box .wrapper span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0 0 0 1px #e6e6e6;
          box-shadow: 0 0 0 1px #e6e6e6;
  line-height: 35px;
  background: #fff;
}

.app .result-box .content .boxes .column .box .wrapper span .answer-number {
  font-weight: 700;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.app .result-box .content .boxes .column .box .wrapper:nth-of-type(n + 1) span:first-of-type {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.app .result-box .content .boxes .column .box .wrapper:nth-of-type(n + 1) span:last-of-type {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.app .result-box .content .boxes .column .box:nth-of-type(1) .wrapper:first-child {
  background: -webkit-gradient(linear, left top, right top, from(#be7ee7), to(#8733c8));
  background: linear-gradient(90deg, #be7ee7 0%, #8733c8 100%);
}

.app .result-box .content .boxes .column .box:nth-of-type(2) .wrapper:first-child {
  background: -webkit-gradient(linear, left top, right top, from(#ffb06c), to(#f87300));
  background: linear-gradient(90deg, #ffb06c 0%, #f87300 100%);
}

.app .result-box .content .boxes .column .box:nth-of-type(3) .wrapper:first-child {
  background: -webkit-gradient(linear, left top, right top, from(#ff99d6), to(#ff00c7));
  background: linear-gradient(90deg, #ff99d6 0%, #ff00c7 100%);
}

.app .result-box .content .boxes .column .box:nth-of-type(4) .wrapper:first-child {
  background: -webkit-gradient(linear, left top, right top, from(#ffd64f), to(#f7be01));
  background: linear-gradient(90deg, #ffd64f 0%, #f7be01 100%);
}

.app .result-box .content .boxes .column .box:nth-of-type(5) .wrapper:first-child {
  background: -webkit-gradient(linear, left top, right top, from(#25c6fb), to(#0b96d2));
  background: linear-gradient(90deg, #25c6fb 0%, #0b96d2 100%);
}

.app .result-box .content .boxes .column .box:nth-of-type(6) .wrapper:first-child {
  background: -webkit-gradient(linear, left top, right top, from(#aafc17), to(#80c700));
  background: linear-gradient(90deg, #aafc17 0%, #80c700 100%);
}

.app .result-box .content .boxes .column .box:nth-of-type(7) .wrapper:first-child {
  background: -webkit-gradient(linear, left top, right top, from(#ff4040), to(#e90603));
  background: linear-gradient(90deg, #ff4040 0%, #e90603 100%);
}

.app .result-box .content .boxes .column .result-chart {
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  margin: 10px 0;
  background: url("../svg/result-graphic.svg") center no-repeat;
  background-size: contain;
}

.app .result-box .content .boxes .column .result-chart .points {
  position: absolute;
  top: 0.6%;
  right: 0.6%;
  bottom: 0.6%;
  left: 0.6%;
  z-index: 2;
  list-style-type: none;
  padding: 0;
}

.app .result-box .content .boxes .column .result-chart .points li {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  height: 1.6em;
  font-size: 14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.app .result-box .content .boxes .column .result-chart .points li:nth-child(1) {
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}

.app .result-box .content .boxes .column .result-chart .points li:nth-child(1) .point-box {
  -webkit-transform: translateX(50%) rotate(0deg);
          transform: translateX(50%) rotate(0deg);
  background: #000;
}

.app .result-box .content .boxes .column .result-chart .points li:nth-child(2) {
  -webkit-transform: translateY(-50%) rotate(51.4deg);
          transform: translateY(-50%) rotate(51.4deg);
}

.app .result-box .content .boxes .column .result-chart .points li:nth-child(2) .point-box {
  -webkit-transform: translateX(50%) rotate(-51.4deg);
          transform: translateX(50%) rotate(-51.4deg);
}

.app .result-box .content .boxes .column .result-chart .points li:nth-child(3) {
  -webkit-transform: translateY(-50%) rotate(102.8deg);
          transform: translateY(-50%) rotate(102.8deg);
}

.app .result-box .content .boxes .column .result-chart .points li:nth-child(3) .point-box {
  -webkit-transform: translateX(50%) rotate(-102.8deg);
          transform: translateX(50%) rotate(-102.8deg);
}

.app .result-box .content .boxes .column .result-chart .points li:nth-child(4) {
  -webkit-transform: translateY(-50%) rotate(154.3deg);
          transform: translateY(-50%) rotate(154.3deg);
}

.app .result-box .content .boxes .column .result-chart .points li:nth-child(4) .point-box {
  -webkit-transform: translateX(50%) rotate(-154.3deg);
          transform: translateX(50%) rotate(-154.3deg);
}

.app .result-box .content .boxes .column .result-chart .points li:nth-child(5) {
  -webkit-transform: translateY(-50%) rotate(205.7deg);
          transform: translateY(-50%) rotate(205.7deg);
}

.app .result-box .content .boxes .column .result-chart .points li:nth-child(5) .point-box {
  -webkit-transform: translateX(50%) rotate(-205.7deg);
          transform: translateX(50%) rotate(-205.7deg);
}

.app .result-box .content .boxes .column .result-chart .points li:nth-child(6) {
  -webkit-transform: translateY(-50%) rotate(257.1deg);
          transform: translateY(-50%) rotate(257.1deg);
}

.app .result-box .content .boxes .column .result-chart .points li:nth-child(6) .point-box {
  -webkit-transform: translateX(50%) rotate(-257.1deg);
          transform: translateX(50%) rotate(-257.1deg);
}

.app .result-box .content .boxes .column .result-chart .points li:nth-child(7) {
  -webkit-transform: translateY(-50%) rotate(308.6deg);
          transform: translateY(-50%) rotate(308.6deg);
}

.app .result-box .content .boxes .column .result-chart .points li:nth-child(7) .point-box {
  -webkit-transform: translateX(50%) rotate(-308.6deg);
          transform: translateX(50%) rotate(-308.6deg);
}

.app .result-box .content .boxes .column .result-chart .points li .point-container {
  position: absolute;
  left: 0;
  width: 80%;
  height: 100%;
}

.app .result-box .content .boxes .column .result-chart .points li .point-container .point-box {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.6em;
  height: 100%;
  font-weight: 600;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.app .result-box .content .boxes .column .result-chart .path {
  position: absolute;
  top: 0.6%;
  bottom: 0.6%;
  left: 0.6%;
  right: 0.6%;
  background: rgba(0, 188, 229, 0.7);
  z-index: 1;
  -webkit-filter: drop-shadow(#000 20px 20px 0 0);
          filter: drop-shadow(#000 20px 20px 0 0);
}

@media screen and (min-width: 420px) {
  .app section .answers button {
    width: 4em;
    height: 4em;
  }
}

@media screen and (min-width: 620px) {
  .app h1 {
    font-size: 32px;
  }
  .app section h3 {
    font-size: 20px;
  }
  .app section .answers .answer-box {
    padding: 25px;
  }
  .app section .answers .answer-box ul li {
    width: 27px;
    height: 27px;
  }
  .app .result-box .content .boxes .column .box,
  .app .result-box .content .boxes .column .result-chart {
    width: calc(50% - 10px * 2);
    margin: 10px;
    padding: 7.5px;
    max-width: 300px;
    font-size: 15px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .app .result-box .content .boxes .column .box .wrapper h3 {
    font-size: 15px;
  }
  .app .result-box .content .boxes .column .box .wrapper span {
    font-size: 14px;
  }
  .app .result-box .content .boxes .column.column-right .result-chart {
    padding: 0;
  }
  .app .result-box .content .boxes .column.column-right .result-chart .chart-box {
    width: 10px;
    height: 10px;
    background: #000;
    position: relative;
    top: 20%;
    left: 20%;
  }
  .app .result-box .content .boxes .column.column-right .box {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media screen and (min-width: 800px) {
  .app h1 {
    font-size: 34px;
  }
  .app section .answers .answer-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 2 0px;
            flex: 0 2 0;
    padding: 20px;
    margin: 10px;
  }
}

@media screen and (min-width: 965px) {
  .app h1 {
    font-size: 40px;
  }
  .app section .answers .answer-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 2 0px;
            flex: 0 2 0;
    margin: 10px;
  }
  .app .result-box .content .boxes {
    margin-top: 0;
  }
  .app .result-box .content .boxes .column .box .wrapper {
    height: 36px;
  }
  .app .result-box .content .boxes .column .box .wrapper h3 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .app .result-box .content .boxes .column .box .wrapper span {
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    letter-spacing: -1px;
    font-weight: normal;
  }
  .app .result-box .content .boxes .column .result-chart {
    height: 330px;
    margin: 10px;
  }
}

@media screen and (min-width: 1150px) {
  .app .result-box {
    max-width: 1100px;
    width: 100%;
  }
  .app .result-box .content .boxes {
    width: 100%;
    max-width: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .app .result-box .content .boxes .column {
    -webkit-box-flex: 2;
        -ms-flex: 2 0 66.666%;
            flex: 2 0 66.666%;
  }
  .app .result-box .content .boxes .column .box {
    margin: 10px;
    padding: 15px;
    width: calc(50% - 20px);
    max-width: 327px;
  }
  .app .result-box .content .boxes .column.column-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
  }
  .app .result-box .content .boxes .column.column-right .box {
    width: calc(100% - 20px);
  }
  .app .result-box .content .boxes .column.column-right .result-chart {
    margin: 10px;
    margin-top: 40px;
    width: 269px;
    height: 269px;
  }
}
/*# sourceMappingURL=style.css.map */