*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: 1px solid #ababab;
  outline-offset: 2px;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: #fafafa;
  text-align: center;
}

.app {
  width: 93vw;
  max-width: 1250px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.app h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 1em;
}

.app section {
  margin: 1.5rem 0;
  text-align: left;
}

.app section h3 {
  position: relative;
  display: inline-block;
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.app section h3::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  border-bottom: 2px solid black;
  width: 140%;
}

.app section .group-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6rem;
}

.app section .group-select .age-group {
  margin: 1.5rem 0 2rem 0;
}

.app section .group-select .age-group select {
  font-size: 1.6rem;
  width: 15em;
  padding: 0.7em 1.3em;
  font-weight: 300;
}

.app section .group-select .age-group select,
.app section .group-select .age-group select option {
  cursor: pointer;
}

.app section .group-select .gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app section .group-select .gender input {
  width: 1.5em;
  height: 1.5em;
  margin-right: 1.1em;
  cursor: pointer;
}

.app section .group-select .gender input:last-of-type {
  margin-left: 1.1em;
}

.app section .group-select .gender label {
  font-weight: 300;
  cursor: pointer;
  position: relative;
}

.app section .answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app section .answers button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  width: 3em;
  height: 3em;
  margin: 4px;
  font-weight: 500;
  border-radius: 50%;
  border: none;
  background-position: -50% 0;
  cursor: pointer;
  will-change: transform;
  -webkit-transition: 0.15s -webkit-transform ease-in-out;
  transition: 0.15s -webkit-transform ease-in-out;
  transition: 0.15s transform ease-in-out;
  transition: 0.15s transform ease-in-out, 0.15s -webkit-transform ease-in-out;
  position: relative;
}

.app section .answers button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0.8rem 1rem -0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.8rem 1rem -0.5rem rgba(0, 0, 0, 0.1);
  border-radius: inherit;
  will-change: opacity;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}

.app section .answers button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.app section .answers button:hover::before {
  opacity: 0.3;
}

.app section .answers button.yes {
  color: white;
  background: radial-gradient(ellipse at top, #37c960, #0f7068);
}

.app section .answers button.yes:focus {
  outline: rgba(47, 230, 99, 0.5) 2px solid;
}

.app section .answers button.no {
  color: white;
  background: radial-gradient(ellipse at top, #ed213a, #93291e);
}

.app section .answers button.no:focus {
  outline: rgba(125, 0, 0, 0.5) 2px solid;
}

.app section .answers button.default {
  color: #222;
  background: radial-gradient(ellipse at top, #ffffff, #f7f7f7);
}

.app section .answers button.default:focus {
  outline: rgba(169, 169, 169, 0.5) 2px solid;
}

.app section .answers .answer-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3rem;
  border-radius: 4px;
  background: white;
  margin: 5px;
  -webkit-box-shadow: 0 0.7rem 1.8rem -0.4rem rgba(0, 0, 0, 0.17);
          box-shadow: 0 0.7rem 1.8rem -0.4rem rgba(0, 0, 0, 0.17);
}

.app section .answers .answer-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  width: inherit;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.app section .answers .answer-box ul li:not(:last-of-type) {
  margin-right: 1rem;
}

.app section .answers .answer-box ul li {
  width: 3rem;
  height: 3rem;
  -webkit-box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 4px;
}

.app section .answers .answer-box ul li label {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
  opacity: 0.4;
  border-radius: inherit;
  will-change: opacity, outline;
  -webkit-transition: opacity 0.2s ease-out, outline 0.1s ease-out;
  transition: opacity 0.2s ease-out, outline 0.1s ease-out;
  cursor: pointer;
}

.app section .answers .answer-box ul li label::before, .app section .answers .answer-box ul li label::after {
  content: "";
  position: absolute;
}

.app section .answers .answer-box ul li label::before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  -webkit-box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.app section .answers .answer-box ul li label::after {
  top: 50%;
  left: 50%;
  width: 48%;
  height: 18.5%;
  border: 3px solid white;
  border-right: none;
  border-top: none;
  -webkit-transform: translate(-50%, -75%) rotate(-45deg) scale(0);
          transform: translate(-50%, -75%) rotate(-45deg) scale(0);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.app section .answers .answer-box ul li input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  border: transparent;
}

@media screen and (min-width: 800px) {
  .app section .answers .answer-box ul li input:hover + label {
    opacity: 0.7;
  }
  .app section .answers .answer-box ul li input:focus + label {
    outline: 2px solid;
    outline-offset: 2px;
  }
}

.app section .answers .answer-box ul li input:checked + label {
  opacity: 1;
  -webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 2px rgba(255, 255, 255, 0.8);
          box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 2px rgba(255, 255, 255, 0.8);
  color: transparent;
  text-shadow: none;
}

.app section .answers .answer-box ul li input:checked + label::after {
  -webkit-transform: translate(-50%, -75%) rotate(-45deg) scale(1);
          transform: translate(-50%, -75%) rotate(-45deg) scale(1);
}

.app section .legend {
  position: relative;
  margin-top: 1.8rem;
  display: inline-block;
  font-size: 1.2rem;
}

.app section .legend::after {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: 0;
  border-top: 1px solid black;
  width: 50%;
}

.app section .legend span:first-of-type {
  display: block;
}

.app section .legend .yes::before,
.app section .legend .no::before,
.app section .legend .default::before {
  content: "";
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  background: #000;
  border-radius: 50%;
  margin: 0 5px;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.app section .legend .yes::before {
  background-image: radial-gradient(ellipse at top, #37c960, #0f7068);
}

.app section .legend .no::before {
  background-image: radial-gradient(ellipse at top, #ed213a, #93291e);
}

.app section .legend .default::before {
  background-image: radial-gradient(ellipse at top, #ffffff, #f7f7f7);
}

.app section.preview .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app section.preview .container > div {
  padding: 0.8rem;
  width: 100%;
  border: 1px solid rgba(112, 112, 112, 0.15);
  -webkit-box-shadow: 0 0.8rem 2rem -1.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.8rem 2rem -1.5rem rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #fff;
}

.app section.preview .container > div h4 {
  display: inline-block;
  margin-bottom: 0.4em;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222;
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 80rem) {
  .app section.preview .container > div h4 {
    font-size: 1.8rem;
  }
}

.app section.preview .container > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app section.preview .container > div div span {
  font-weight: 400;
  font-size: 1.3rem;
}

@media screen and (min-width: 80rem) {
  .app section.preview .container > div div span {
    font-size: 1.3rem;
  }
}

.app section.preview .container > div div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-left: 3px;
  list-style-type: none;
}

.app section.preview .container > div div ul li {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.2em;
  height: 2.2em;
  margin: 3px;
  border-radius: 50%;
  color: white;
}

.app section.preview .container > div div ul li.yes {
  background-image: radial-gradient(ellipse at top, #37c960, #0f7068);
}

.app section.preview .container > div div ul li.no {
  background-image: radial-gradient(ellipse at top, #ed213a, #93291e);
}

@media screen and (min-width: 80rem) {
  .app section.preview .container > div div ul li {
    font-size: 1.3rem;
  }
}

.buttons {
  margin-top: 27px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  -webkit-box-shadow: 0 -3px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -3px 15px rgba(0, 0, 0, 0.1);
}

.buttons button {
  font-size: 16px;
  padding: 0.3em 2em;
  color: white;
  background-color: #3298dc;
  border: none;
  border-radius: 60px;
  -webkit-box-shadow: 0 20px 15px -15px rgba(0, 0, 0, 0.1), 0 10px 10px -10px rgba(0, 0, 0, 0.1), 0 5px 5px -4px rgba(0, 0, 0, 0.2), 0 2px 3px -2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 15px -15px rgba(0, 0, 0, 0.1), 0 10px 10px -10px rgba(0, 0, 0, 0.1), 0 5px 5px -4px rgba(0, 0, 0, 0.2), 0 2px 3px -2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  will-change: transform;
  -webkit-transition: 0.15s -webkit-transform ease-in-out;
  transition: 0.15s -webkit-transform ease-in-out;
  transition: 0.15s transform ease-in-out;
  transition: 0.15s transform ease-in-out, 0.15s -webkit-transform ease-in-out;
  position: relative;
}

.buttons button:hover {
  background-color: #2793da;
}

.buttons button:active {
  background-color: #238cd1;
}

.buttons button#reset {
  background-image: none;
  background-color: #f14668;
  margin-left: 20px;
}

.buttons button#reset:hover {
  background-color: #f03a5f;
}

.buttons button#reset:active {
  background-color: #ef2e55;
}

@media screen and (min-width: 600px) {
  .buttons button {
    font-size: 18px;
  }
}

@media screen and (min-width: 800px) {
  .buttons button {
    font-size: 20px;
  }
}

.result-box {
  z-index: 30;
}

.result-box.visible {
  opacity: 1;
  pointer-events: all;
  max-height: 98vh;
}

.result-box.visible .content {
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 98vh;
}

.result-box .content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5.8rem 1rem 1rem;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.3);
  will-change: transform;
  -webkit-transition: 0.2s -webkit-transform ease-in;
  transition: 0.2s -webkit-transform ease-in;
  transition: 0.2s transform ease-in;
  transition: 0.2s transform ease-in, 0.2s -webkit-transform ease-in;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media screen and (min-width: 965px) {
  .result-box .content {
    padding: 6.3rem 1.5rem 3rem;
  }
}

@media screen and (min-width: 1150px) {
  .result-box .content {
    padding: 6.8rem 2rem 4rem;
  }
}

.result-box .content .result-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  padding: 0 0.8em;
  background-color: #eee;
}

@media screen and (min-width: 420px) {
  .result-box .content .result-title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 620px) {
  .result-box .content .result-title {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 800px) {
  .result-box .content .result-title {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 965px) {
  .result-box .content .result-title {
    font-size: 1.9rem;
  }
}

@media screen and (min-width: 1150px) {
  .result-box .content .result-title {
    font-size: 1.9rem;
  }
}

.result-box .content .result-title h2 {
  font-size: inherit;
  font-weight: 300;
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-55%);
          transform: translateX(-55%);
}

.result-box .content .result-title .close-results {
  position: static;
}

.result-box .close-results {
  position: absolute;
  font-size: 1rem;
  right: 0.8rem;
  top: 0.8rem;
  width: 2em;
  height: 2em;
  background: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  will-change: transform;
  -webkit-transition: 0.3s 0.3s transform ease-out;
  transition: 0.3s 0.3s transform ease-out;
}

.result-box .close-results::before, .result-box .close-results::after {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg);
  width: 1em;
  height: 0.2em;
  background: white;
  will-change: transform;
  -webkit-transition: 0.3s -webkit-transform ease-out;
  transition: 0.3s -webkit-transform ease-out;
  transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out, 0.3s -webkit-transform ease-out;
}

.result-box .close-results::before {
  -webkit-transform: translate(50%, -50%) rotate(-45deg);
          transform: translate(50%, -50%) rotate(-45deg);
}

.result-box .close-results:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(10, 10, 10, 0.3);
          box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(10, 10, 10, 0.3);
}

.result-box .close-results:hover {
  -webkit-transition: 0.3s -webkit-transform ease-out;
  transition: 0.3s -webkit-transform ease-out;
  transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out, 0.3s -webkit-transform ease-out;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: rgba(10, 10, 10, 0.3);
}

.result-box .close-results:hover::before, .result-box .close-results:hover::after {
  -webkit-transition: 0.3s 0.3s transform ease-out;
  transition: 0.3s 0.3s transform ease-out;
}

.result-box .close-results:hover::before {
  -webkit-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg);
}

.result-box .close-results:hover::after {
  -webkit-transform: translate(50%, -50%) rotate(-45deg);
          transform: translate(50%, -50%) rotate(-45deg);
}

.result-box .close-results:active {
  background-color: rgba(10, 10, 10, 0.4);
}

.result-box .error-message {
  background-color: #f14668;
  padding: 2rem 4rem 2rem 2.4rem;
  font-size: 1.6rem;
  line-height: 1.5;
  color: white;
  border-radius: 4px;
  font-weight: 300;
}

.result-box .error-message .close-results::before, .result-box .error-message .close-results::after {
  background: white;
}

.result-box .error-message .close-results:focus {
  -webkit-box-shadow: 0 0 0 2px #f14668, 0 0 0 4px rgba(10, 10, 10, 0.3);
          box-shadow: 0 0 0 2px #f14668, 0 0 0 4px rgba(10, 10, 10, 0.3);
}
/*# sourceMappingURL=mainStyles.css.map */