body {
  background-color: #fafafa;
}

body.no-scroll {
  overflow: hidden;
}

.app section .answers .answer-box ul li:nth-of-type(2) label {
  background: red;
}

.app section .answers .answer-box ul li:nth-of-type(2) input:focus + label {
  outline-color: red;
}

.app section .answers .answer-box ul li:nth-of-type(3) label {
  background: #ffaa00;
}

.app section .answers .answer-box ul li:nth-of-type(3) input:focus + label {
  outline-color: #ffaa00;
}

.app section .answers .answer-box ul li:nth-of-type(4) label {
  background: #aaff00;
}

.app section .answers .answer-box ul li:nth-of-type(4) input:focus + label {
  outline-color: #aaff00;
}

.app section .answers .answer-box ul li:nth-of-type(5) label {
  background: lime;
}

.app section .answers .answer-box ul li:nth-of-type(5) input:focus + label {
  outline-color: lime;
}

.app .result-box {
  width: 97%;
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  -webkit-transition: 0.2s opacity ease-in;
  transition: 0.2s opacity ease-in;
  z-index: 20;
}

.app .result-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 101vw;
  height: 101vh;
  background: #000;
  z-index: -1;
  opacity: 0.3;
}

.app .result-box .content .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.app .result-box .content .boxes .box {
  width: 100%;
  margin: 10px 0;
  padding: 7.5px;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.app .result-box .content .boxes .box .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  font-size: 15px;
}

.app .result-box .content .boxes .box .wrapper:first-child {
  color: #fff;
  text-transform: uppercase;
}

.app .result-box .content .boxes .box .wrapper h3 {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.app .result-box .content .boxes .box .wrapper span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0 0 0 1px #e6e6e6;
          box-shadow: 0 0 0 1px #e6e6e6;
  line-height: 35px;
  background: #fff;
}

.app .result-box .content .boxes .box:nth-of-type(1) .wrapper:first-child {
  background: -webkit-gradient(linear, left top, right top, from(#be7ee7), to(#8733c8));
  background: linear-gradient(90deg, #be7ee7 0%, #8733c8 100%);
}

.app .result-box .content .boxes .box:nth-of-type(2) .wrapper:first-child {
  background: -webkit-gradient(linear, left top, right top, from(#ffb06c), to(#f87300));
  background: linear-gradient(90deg, #ffb06c 0%, #f87300 100%);
}

.app .result-box .content .boxes .box:nth-of-type(3) .wrapper:first-child {
  background: -webkit-gradient(linear, left top, right top, from(#ff99d6), to(#ff00c7));
  background: linear-gradient(90deg, #ff99d6 0%, #ff00c7 100%);
}

.app .result-box .content .boxes .box:nth-of-type(4) .wrapper:first-child {
  background: -webkit-gradient(linear, left top, right top, from(#ffd64f), to(#f7be01));
  background: linear-gradient(90deg, #ffd64f 0%, #f7be01 100%);
}

.app .result-box .content .boxes .box:nth-of-type(5) .wrapper:first-child {
  background: -webkit-gradient(linear, left top, right top, from(#25c6fb), to(#0b96d2));
  background: linear-gradient(90deg, #25c6fb 0%, #0b96d2 100%);
}

.app .result-box .content .boxes .box:nth-of-type(6) .wrapper:first-child {
  background: -webkit-gradient(linear, left top, right top, from(#ff4040), to(#e90603));
  background: linear-gradient(90deg, #ff4040 0%, #e90603 100%);
}

@media screen and (min-width: 420px) {
  .app section .answers button {
    width: 4em;
    height: 4em;
  }
  .app .result-box .content .boxes .box .wrapper h3 {
    font-size: 1.2em;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 620px) {
  .app h1 {
    font-size: 32px;
  }
  .app section h3 {
    font-size: 20px;
  }
  .app section .answers .answer-box {
    padding: 25px;
  }
  .app section .answers .answer-box ul li {
    width: 27px;
    height: 27px;
  }
  .app .result-box .content .boxes .box {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(50% - 20px);
            flex: 1 0 calc(50% - 20px);
    margin: 10px;
    padding: 7.5px;
  }
  .app .result-box .content .boxes .box .wrapper:first-of-type {
    height: 3.5em;
  }
  .app .result-box .content .boxes .box .wrapper h3 {
    font-size: 1.4em;
    line-height: 1em;
  }
  .app .result-box .content .boxes .box .wrapper span {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 800px) {
  .app h1 {
    font-size: 34px;
  }
  .app section .answers .answer-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 2 0px;
            flex: 0 2 0;
    padding: 20px;
    margin: 10px;
  }
}

@media screen and (min-width: 965px) {
  .app h1 {
    font-size: 40px;
  }
  .app section .answers .answer-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 2 0px;
            flex: 0 2 0;
    margin: 10px;
  }
  .app .result-box {
    width: 80%;
  }
  .app .result-box .content .boxes .box .wrapper span {
    height: 36px;
    line-height: 36px;
  }
}

@media screen and (min-width: 1150px) {
  .app .result-box {
    max-width: 900px;
  }
  .app .result-box .content .boxes {
    margin: 0;
  }
  .app .result-box .content .boxes .box {
    margin: 20px;
    padding: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(50% - 40px);
            flex: 1 0 calc(50% - 40px);
  }
  .app .result-box .content .boxes .box .wrapper h3 {
    letter-spacing: 0;
  }
  .app .result-box .content .boxes .box .wrapper:nth-of-type(n + 1) span {
    font-size: 1.3em;
  }
}
/*# sourceMappingURL=style.css.map */